@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-filter: invert(39%) sepia(75%) saturate(4925%) hue-rotate(323deg)
    brightness(98%) contrast(98%);
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background-bg;
}

@media (max-width: 1080px) {
  html,
  body {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html,
  body {
    font-size: 87.5%;
  }
}

.invert-svg {
  filter: invert(1);
}
